/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*** RESET ***/

 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
   background: transparent;
   border: 0;
   font-size: 100%;
   color: white;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
   font-family: Helvetica;
 }

 a {
   text-decoration: none;
 }
 *:focus {
   outline: 1;
 }
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
   display: block;
 }
 nav ul {
   list-style: none;
 }
 ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after, q:before, q:after {
   content: "";
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 input, select {
   vertical-align: middle;
 }
 
 .clear {
     clear: both;
     height: 0;
 }
 
 body {
   line-height: 1;
   	background-attachment: fixed;
	background-image: url('black wallpaper.png');
	background-repeat: no-repeat;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y: auto;
	margin: 0;
	padding: 0;
 }
  


/*** GLOBAL ***/


.header {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    text-align: center; 
    font-size: 250%;
}

.contact {
    width: 60%;
    padding: 5px 0px 30px 0px;
    margin: 0px auto;
    font-size: 120%;
    
}

.contact ul li {
    float: left;
    width: 33.33%;
    text-align: center;
    color: brown;
    margin: 0px auto;
}

.contact ul li a {
    color: #CA0000;
}

.contact ul li a:hover {
    color: #58B1DC;
}

.contact p {
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    
}

.contact p a:hover {
    text-decoration: none;
}

.links {
    width: 90%;
    padding: 20px 0px 70px 0px;
    margin: 10px auto;
    font-size: 150%;
}

.links ul li {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.links ul li img { 
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; /*Reflection*/ 
} 

.links ul li img:hover { 
    opacity: 1; /*Reflection*/ 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    cursor: pointer;
}

.unselected {
    opacity: 0.8; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));     
}

.selected {
    opacity: 1; /*Reflection*/ 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
}

.intro {
    width: 80%;
    padding: 30px 50px 20px 50px;
    margin: 20px auto;
    font-size: 500%;
    text-align: center;
}

.intro span { 
    width: 700px; 
    height: 100px;
    margin: 25px; 
    opacity: 0.5;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1))); 
}

.pre {
    color: transparent;
    line-height: 0px;
} 

.post {
    line-height: 100px;
    color: green;   
}

.intro span:hover { 
    opacity: 1; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    cursor: pointer;
}

.content {
    width: 90%;
    margin: 0px auto;
    overflow: auto;
    display: none;
}

.content p {
    margin: 20px;
}

.about_info.well {
   	background-color: rgba(184,130,80,0.3);
   	border: none;
   	overflow: auto;
    height: 100%;
}

.exp_info.well {
    background-color:rgba(179,15,0,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.proj_info.well {
    background-color:rgba(128,82,85,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.skills_info.well {
    background-color:rgba(110,118,122,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.text {
    width: 65%;
    height: 100%;
    float: left;
}

.skills_list {
    width: 33.33%;
    float:left;
}

.skills_list ul li {
    font-size: 1.20em;
    color: orange;
}

.pics {
    width: 35%;
    height: 100%;
    float: left;
}

.pics img {
    max-height: 100%;
    max-width: 100%;
}

.picsntext {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.pair {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.preview {
    width: 60%;
    height: 100%;
    border-radius: 15px; 
    float: left;
    display: inline-block;
    -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease;     
}


.preview:hover {
    -webkit-box-shadow: 5px 5px 5px #B4ACA7;
          box-shadow: 5px 5px 5px #B4ACA7;
}


.descr {
    width: 40%;
    height: 100%;
    float: left;
    
}

.barrier-bottom {
    padding: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

.barrier-top {
    padding: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.site_info {
    width: 60%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.site_info_header {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.info_link {
    margin: 0px auto;
    color: green;
    padding: 10px 0px 20px 0px;
}

.info_link:hover {
    color: orange;
    cursor: pointer;
}

.info_link:active {
    color: purple;
}

.info_text {
    display: none;
    padding-top: 10px;
}

.italics {
    font-style: italic;
}

.niet {
    font-size: 1.8em;
    line-height: 140%;
}

.dalai {
    font-size: 1.6em;
    line-height: 160%;
}

.port {
    font-size: 1.4em;
    line-height: 160%;
    margin: 0px auto;
    width: 95%;
    text-align: right;
}

.main_body {
    font-size: 1.15em;
    line-height: 130%;
}

strong {
    color: #8A8A8A;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 350px;
}

#slideshow img {
    position: absolute;
    left: 0;
    top: 0;
}

#hidden {
    display: none;
}

.image_wrapper {
    width: 80%;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    
}

.studio {
    width: 90%;
    margin: 0px auto;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}

.player {
    width: 400px;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

#simple {
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;
    background-color:rgba(255,255,255,0.2);
    border-radius: 15px;
    padding: 10px;
}

.half {
    width: 50%;
    float: left;
}

.half ul li {
    color: orange;
}

/***  MOBILE ***/

#about_this {
    padding: 100px 10px 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #161618;
}

#about_this p {
    margin-bottom: 8px;
}

#about_this a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}