/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*** RESET ***/

 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
   background: transparent;
   border: 0;
   font-size: 100%;
   color: white;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
   font-family: Helvetica;
 }

 a {
   text-decoration: none;
 }
 *:focus {
   outline: 1;
 }
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
   display: block;
 }
 nav ul {
   list-style: none;
 }
 ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after, q:before, q:after {
   content: "";
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 input, select {
   vertical-align: middle;
 }
 
 .clear {
     clear: both;
     height: 0;
 }
 
 body {
   line-height: 1;
   	background-attachment: fixed;
	background-image: url('black wallpaper.png');
	background-repeat: no-repeat;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-y: auto;
	margin: 0;
	padding: 0;
 }
  


/*** GLOBAL ***/


.header {
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    text-align: center; 
    font-size: 250%;
}

.contact {
    width: 60%;
    padding: 5px 0px 30px 0px;
    margin: 0px auto;
    font-size: 120%;
    
}

.contact ul li {
    float: left;
    width: 33.33%;
    text-align: center;
    color: brown;
    margin: 0px auto;
}

.contact ul li a {
    color: #CA0000;
}

.contact ul li a:hover {
    color: #58B1DC;
}

.contact 

.links {
    width: 90%;
    padding: 20px 0px 70px 0px;
    margin: 10px auto;
    font-size: 150%;
}

.links ul li {
    float: left;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.links ul li img { 
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; /*Reflection*/ 
} 

.links ul li img:hover { 
    opacity: 1; /*Reflection*/ 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    cursor: pointer;
}

.unselected {
    opacity: 0.8; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));     
}

.selected {
    opacity: 1; /*Reflection*/ 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); /*Glow*/ 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
}

.intro {
    width: 80%;
    padding: 30px 50px 20px 50px;
    margin: 20px auto;
    font-size: 500%;
    text-align: center;
}

.intro span { 
    width: 700px; 
    height: 100px;
    margin: 25px; 
    opacity: 0.5;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1))); 
}

.pre {
    color: transparent;
    line-height: 0px;
} 

.post {
    line-height: 100px;
    color: green;   
}

.intro span:hover { 
    opacity: 1; 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4))); 
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    cursor: pointer;
}

.content {
    width: 90%;
    margin: 0px auto;
    overflow: auto;
    display: none;
}

.content p {
    margin: 10px;
}

.about_info.well {
   	background-color: rgba(184,130,80,0.3);
   	border: none;
   	overflow: auto;
    height: 100%;
}

.exp_info.well {
    background-color:rgba(179,15,0,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.proj_info.well {
    background-color:rgba(128,82,85,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.skills_info.well {
    background-color:rgba(110,118,122,0.3);
    border: none;
    overflow: auto;
    height: 100%;
}

.text {
    width: 50%;
    height: 100%;
    float: left;
}

.pics {
    width: 50%;
    height: 100%;
    float: left;
}

.pics img {
    max-height: 100%;
    max-width: 100%;
}

.barrier-bottom {
    padding: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
}

.barrier-top {
    padding: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.site_info {
    width: 60%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.site_info_header {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.info_link {
    margin: 0px auto;
    color: green;
    padding: 10px 0px 20px 0px;
}

.info_link:hover {
    color: orange;
    cursor: pointer;
}

.info_link:active {
    color: purple;
}

.info_text {
    display: none;
    padding-top: 10px;
}

.italics {
    font-style: italic;
}