/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 /*** RESET ***/

 @font-face {
     font-family: "Roboto-Light";
     src: url('Roboto-Thin.ttf') format('truetype');
 }

 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
   border: 0;
   font-size: 14px;
   color: gray;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
   font-family: "Roboto-Thin", Helvetica;
 }

 a {
   text-decoration: none;
 }
 *:focus {
   outline: 1;
 }
 article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
   display: block;
 }
 nav ul {
   list-style: none;
 }
 ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after, q:before, q:after {
   content: "";
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 input, select {
   vertical-align: middle;
 }
 
 .clear {
     clear: both;
     height: 0;
 }
 
 body {
	margin-top: 0em;
	padding-top: 0em;
 }
 
  


/*** GLOBAL ***/

.mobile_link  {
    position: relative;
    z-index: 1;
}

.mobile_link img {
    position: absolute;
    top: 0em;
    right: 0em;
}

.container {
    margin: 0em auto;
    width: 65em;
    height: 100%;
    padding-bottom: 7em;
}

.header {
    width: 65em;
    margin: 0em auto;
    text-align: center; 
    padding: 1em;
    z-index: -1;
}

#logo {
    height:2.25em; 
    width:25em; 
    float: left;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; /*Reflection*/ 
    opacity: 0.8;
}

#logo:hover {
    opacity: 1;
}

.links {
    float: left;
}

.links ul {
    float: left;
}

.links ul li {
    display: inline-block;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; /*Reflection*/ 
    opacity: 0.8;
     -moz-border-radius: 0.31em;
    -webkit-border-radius: 0.31em;
    -khtml-border-radius: 0.31em;
    border-radius: 0.31em;
    height: 2.25em;
    margin-right: 0.62em;
}

.links ul li:hover { 
    opacity: 1; /*Reflection*/ 
    cursor: pointer;
}

.links ul li:active {
    opacity: 0.5;
} 

.links ul li img {
    height: 2.25em;
}

.content {
    width: 65em;
    margin: 0em auto;
    padding: 3em 0em 3em 0em;
    height: 100%;
    min-height: 25em;
}

.content p {
    margin: 1em;
}


.intro {
}

.left {
    float: left;
    width: 31em;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease;    
}

.right {
    width: 34em;
    float: left;
}

#next:hover {
    cursor: pointer;
}

.about_info {
   	border: none;
   	overflow: auto;
    height: 100%;
}

.exp_info {
    border: none;
    overflow: auto;
    height: 100%;
}

.proj_info {
    border: none;
    overflow: auto;
    height: 100%;
}

.skills_info {
    border: none;
    overflow: auto;
    height: 100%;
}

.text {
    width: 60%;
    height: 100%;
    float: left;
}

.skills_list {
    width: 33.33%;
    float:left;
}

.skills_list ul li {
    font-size: 1.20em;
    color: orange;
}

.pics {
    width: 40%;
    height: 100%;
    float: left;
}

.pics img {
    max-height: 100%;
    max-width: 100%;
}

.picsntext {
    width: 100%;
    float: left;
    padding-top: 1.25em;
}

.pair {
    width: 100%;
    margin: 0em auto;
    padding: 1.25em 0em 1.25em 0em;
}

.preview {
    width: 60%;
    height: 100%;
    border-radius: 0.9em; 
    float: left;
    display: inline-block;
    -webkit-box-shadow: .31em .31em .31em #111;
          box-shadow: .31em .31em .31em #111;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease;     
}


.preview:hover {
    -webkit-box-shadow: .31em .31em .31em #B4ACA7;
          box-shadow: .31em .31em .31em #B4ACA7;
}


.descr {
    width: 40%;
    height: 100%;
    float: left;
    
}


.italics {
    font-style: italic;
}

.niet {
    font-size: 1.8em;
    line-height: 140%;
}

.dalai {
    font-size: 1.6em;
    line-height: 160%;
}

.port {
    font-size: 1.4em;
    line-height: 160%;
    margin: 0em auto;
    width: 95%;
    text-align: right;
}

.main_body {
    font-size: 1.15em;
    line-height: 130%;
}

strong {
    color: #8A8A8A;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 455px;
    background: #C5C5C5;
}

#slideshow img {
    position: absolute;
    left: 0;
    top: 0;
}

#hidden {
    display: none;
}

.image_wrapper {
    width: 100%;
    margin: 0em auto;
    padding: 0.5em 0em 0.5em 0em;
    
}

.studio {
    width: 29em;
    margin: 0em 3em 0em 2em;
    float: left;
    background: #f41616;
}

.player {
    width: 30.5em;
    float: left;
    text-align: center;
    padding: 2.5em 0em 0em 0em;
}

#simple {
    -webkit-box-shadow: .31em .31em .31em #000;
    box-shadow: .31em .31em .31em #000;
    background-color:rgba(255,255,255,0.2);
    border-radius: 0.9em;
    padding: 0.5em;
}

.half {
    width: 50%;
    float: left;
}

.half ul li {
    color: orange;
}

.footer {
    width: 100%;
    background-color: #C5C5C5;
    box-shadow: 0em -0.125em 0.6em #C5C5C5;
}
    
.contact {
    width: 51em;
    margin: 0em auto;
}

.contact ul {
    width: 51em;
    height: 1em;
    margin: 0em auto;
    padding-top: 0.5em;
}

.contact ul li {
    float: left;
    width: 17em;
    text-align: center;
    color: white;
    margin: 0em auto;
}

.contact ul li a {
    color: #ffffff;
}

#second {
    width: 30em;
    height: 1em;
    margin: 0em auto;
}

#second li {
    width: 15em;
    margin-top: 1em;
}

.site_info {
    width: 50em;
    margin: 0em auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.site_info_header {
    width: 45em;
    margin: 0em auto;
    padding: 1em 0em 0em 0em;
    text-align: center;
}

.info_link {
    margin: 0em auto;
    width: 12em;
    color: green;
    padding: 0.5em 0em 1em 0em;
}

.info_link:hover {
    cursor: pointer;
}

.info_link:active {
    color: purple;
}

.info_text {
    display: none;
    padding-top: 0.5em;
}


/***  MOBILE ***/

#about_this {
    padding: 100px 10px 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #161618;
}

#about_this p {
    margin-bottom: 8px;
}

#about_this a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#background ul li p a {
    color: #222;
}

#portfolio ul li p a {
    color: #222;
}

.mobile_player {
    width: 300px;
    margin: 0px auto;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

